@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark: #191a20;
    --color-light: #f0ece4;
}

.theme-bg {
    @apply bg-light dark:bg-dark;
}
.theme-text {
    @apply text-dark dark:text-light;
}

.icon-pixiv {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-mask-image: url("$lib/assets/logos/pixiv.svg");
    mask-image: url("$lib/assets/logos/pixiv.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: currentColor;
    vertical-align: -0.18em;
}

.icon-fanbox {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-mask-image: url("$lib/assets/logos/fanbox.svg");
    mask-image: url("$lib/assets/logos/fanbox.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: currentColor;
    vertical-align: -0.18em;
}
